.like-anime-container {
	position: absolute;
	bottom: 80%;
	width: 120%;
	height: 2rem;
	left: 0;
	pointer-events: none;
}

.bubble {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 0.52rem;
	height: 0.52rem;
	margin-left: -0.26rem;
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(0) translateY(0) scale(0) rotate(0deg);
}

@for $i from 1 through 6 {
	.anime-#{$i} {
		animation-name: bubble#{$i};
		animation-duration: 1.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		transform: translateX(0) translateY(0) scale(0) rotate(0deg);
	}
}

.bg6 {
	background-image: url('https://img.alicdn.com/imgextra/i4/O1CN01vhkXH322N3dNJkp5R_!!6000000007107-2-tps-108-108.png');
}

.bg1 {
    background-image: url('https://img.alicdn.com/imgextra/i2/O1CN01xxkYdi1fPaf0fgCQe_!!6000000003999-2-tps-108-108.png');
}

.bg2 {
    background-image: url('https://img.alicdn.com/imgextra/i3/O1CN01mynvNq22zzIbotLrd_!!6000000007192-2-tps-108-108.png');
}

.bg3 {
    background-image: url('https://img.alicdn.com/imgextra/i3/O1CN01OJdcEL1h5YZCNc6Cj_!!6000000004226-2-tps-108-108.png');
}

.bg4 {
    background-image: url('https://img.alicdn.com/imgextra/i4/O1CN01ZyFdyB25c7VQlUeqr_!!6000000007546-2-tps-108-108.png');
}

.bg5 {
    background-image: url('https://img.alicdn.com/imgextra/i1/O1CN01KfabUZ1Xst4QW5kwE_!!6000000002980-2-tps-108-108.png');
}

@keyframes bubble1 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(0deg);
  }
  25% {
    transform: translateX(-15%) translateY(-75%) scale(1) rotate(30deg);
  }
  50% {
    opacity: 1;
    transform: translateX(-30%) translateY(-150%) scale(1) rotate(0deg);
  }
  to {
    opacity: 0;
    transform: translateX(30%) translateY(-500%) scale(1) rotate(-30deg);
  }
}
@keyframes bubble2 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(45deg);
  }
  25% {
    transform: translateX(15%) translateY(-75%) scale(1) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translateX(30%) translateY(-150%) scale(1) rotate(-45deg);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(-500%) scale(1) rotate(0deg);
  }
}
@keyframes bubble3 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(10deg);
  }
  20% {
    transform: translateX(15%) translateY(-75%) scale(1) rotate(30deg);
  }
  40% {
    opacity: 1;
    transform: translateX(30%) translateY(-150%) scale(1) rotate(10deg);
  }
  70% {
    opacity: 0.6;
    transform: translateX(-30%) translateY(-300%) scale(1) rotate(-20deg);
  }
  to {
    opacity: 0;
    transform: translateX(0) translateY(-500%) scale(1) rotate(0deg);
  }
}
@keyframes bubble4 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(-20deg);
  }
  20% {
    transform: translateX(-15%) translateY(-75%) scale(1) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform: translateX(-30%) translateY(-150%) scale(1) rotate(20deg);
  }
  70% {
    opacity: 0.6;
    transform: translateX(30%) translateY(-300%) scale(1) rotate(0deg);
  }
  to {
    opacity: 0;
    transform: translateX(-30%) translateY(-500%) scale(1) rotate(-30deg);
  }
}
@keyframes bubble5 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(0deg);
  }
  20% {
    transform: translateX(-70%) translateY(-75%) scale(1) rotate(30deg);
  }
  40% {
    opacity: 1;
    transform: translateX(-10%) translateY(-150%) scale(1) rotate(0deg);
  }
  70% {
    opacity: 0.6;
    transform: translateX(-70%) translateY(-300%) scale(1) rotate(-30deg);
  }
  to {
    opacity: 0;
    transform: translateX(15%) translateY(-500%) scale(1) rotate(0deg);
  }
}
@keyframes bubble6 {
  from {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(0) rotate(0deg);
  }
  20% {
    transform: translateX(70%) translateY(-75%) scale(1) rotate(-30deg);
  }
  40% {
    opacity: 1;
    transform: translateX(10%) translateY(-150%) scale(1) rotate(0deg);
  }
  70% {
    opacity: 0.6;
    transform: translateX(70%) translateY(-300%) scale(1) rotate(30deg);
  }
  to {
    opacity: 0;
    transform: translateX(-15%) translateY(-500%) scale(1) rotate(0deg);
  }
}
