server:
  port: 8080

# mysql
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://******:3306/*****?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: "******"
    password: "******"
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd'T'HH:mm:ss
    default-property-inclusion: non_null

#mybatis
mybatis-plus:
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.aliyuncs.aui.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    default-statement-timeout: 10

# pop配置
biz:
  openapi:
    access:
      key: "*********"
      secret: "*********"
  live_im:
    app_id: TY3****
  # 新IM应用信息
  new_im:
    appId: "0c8xxxxx"
    appKey: "586fxxxxxx"
    appSign:	"232sfxxxxxx"
  live_stream:
    push_url: push.*****.vip
    pull_url: pull.*****.vip
    push_auth_key: zJl4******
    pull_auth_key: mDZs********
    app_name: live
    auth_expires: 604800
  live_mic:
    app_id: 7c61********
    app_key: c461b*********
  live_callback:
    auth_key: avdsd*******
# 配置允许跨域的请求域名
http:
  cors:
    host: "*"