<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bg_weak</key>
	<string>#1C1D22FF</string>
	<key>bg_medium</key>
	<string>#141416FF</string>
	<key>fg_strong</key>
	<string>#23262FFF</string>
	<key>text_strong</key>
	<string>#FCFCFDFF</string>
	<key>text_medium</key>
	<string>#E6E7ECFF</string>
	<key>text_weak</key>
	<string>#B2B7C4FF</string>
	<key>text_ultraweak</key>
	<string>#747A8CFF</string>
	<key>text_infrared</key>
	<string>#1C1D22FF</string>
	<key>text_link</key>
	<string></string>
	<key>text_link_press</key>
	<string></string>
	<key>border_strong</key>
	<string>#B2B7C4FF</string>
	<key>border_medium</key>
	<string>#3A3D48FF</string>
	<key>border_weak</key>
	<string>#3A3D48FF</string>
	<key>border_ultraweak</key>
	<string>#3A3D48FF</string>
	<key>border_infrared</key>
	<string>#23262FFF</string>
	<key>ic_strong</key>
	<string>#F4F4F6FF</string>
	<key>ic_medium</key>
	<string></string>
	<key>ic_weak</key>
	<string>#747A8CFF</string>
	<key>ic_ultraweak</key>
	<string>#3A3D48FF</string>
	<key>ic_press</key>
	<string></string>
	<key>fill_ultrastrong</key>
	<string></string>
	<key>fill_strong</key>
	<string>#494F61FF</string>
	<key>fill_medium</key>
	<string>#3A3D48FF</string>
	<key>fill_weak</key>
	<string>#23262FFF</string>
	<key>fill_ultraweak</key>
	<string>#E6E7ECFF</string>
	<key>fill_infrared</key>
	<string>#FCFCFDFF</string>
	<key>fill_microwave</key>
	<string>#23262FFF</string>
	<key>tsp_fill_ultrastrong</key>
	<string>#747A8C26</string>
	<key>tsp_fill_strong</key>
	<string>#14141600</string>
	<key>tsp_fill_medium</key>
	<string>#141416B2</string>
	<key>tsp_fill_weak</key>
	<string>#1C1D2266</string>
	<key>tsp_fill_ultraweak</key>
	<string>#1C1D22CC</string>
	<key>tsp_fill_infrared</key>
	<string>#FCFCFD66</string>
	<key>colourful_text_strong</key>
	<string>#4DCFE1FF</string>
	<key>colourful_ic_strong</key>
	<string>#4DCFE1FF</string>
	<key>colourful_border_strong</key>
	<string>#4DCFE1FF</string>
	<key>colourful_border_weak</key>
	<string>#B2EBF2FF</string>
	<key>colourful_fg_strong</key>
	<string>#4DCFE1FF</string>
	<key>colourful_fill_ultrastrong</key>
	<string>#F7355DFF</string>
	<key>colourful_fill_strong</key>
	<string>#4DCFE1FF</string>
	<key>colourful_fill_disabled</key>
	<string>#B2EBF2FF</string>
</dict>
</plist>
